* {
    box-sizing: border-box;
}

body {
    margin: 0;
    background-color: #000000;
    color: #ffffff;
    font-family: Arial, sans-serif;
    
}


/* ページ全体 */

.container {
    width: 100%;
    max-width: 600px;
    margin: 0 auto;
    height: 100vh;
    overflow-y: auto;
    padding: 25px 20px 50px;
    scrollbar-width: none;
    
}

/* ロゴ */

.logo {
    text-align: center;
    padding: 20px 0 30px;
    border-bottom: 1px solid #333333;
}

.logo-name {
    font-size: 30px;
    font-weight: bold;
    color: #E52B18;
}

.logo-sub {
    font-size: 13px;
    color: #ffffff;
    letter-spacing: 2px;
}

/* マシーン名 */

.machine-title {
    text-align: center;
    margin-top: 35px;
}

.machine-title h1 {
    margin: 0;
    font-size: 40px;
    font-weight: 900;
    letter-spacing: 2px;
    color: #ffffff;
}

.machine-title p {
    margin-top: 8px;
    color: #E52B18;
    font-size: 20px;
    font-weight: bold;
}

/* 動画 */

.video-box {
    width: 100%;
    aspect-ratio: 16 / 9;
    margin-top: 30px;

    border: 2px solid #E52B18;
    border-radius: 12px;

    display: flex;
    justify-content: center;
    align-items: center;

    background-color: #111111;
}

.video-box p {
    color: #E52B18;
    font-size: 18px;
}

.video-box video {
    width: 100%;
    height: 100%;
    object-fit: contain;
    border-radius: 10px;
}

/* 見出し */

.section {
    margin-top: 40px;
}

.section h2 {
    margin-bottom: 15px;
    color: #E52B18;
    font-size: 22px;
}

/* 使い方 */

.steps {
    padding: 0;
    margin: 0;
    list-style: none;
}

.steps li {
    padding: 15px;
    margin-bottom: 10px;

    background-color: #111111;
    border-left: 4px solid #E52B18;

    border-radius: 5px;

    font-size: 16px;
}

/* 注意事項 */

.warning {
    padding: 18px;

    background-color: #111111;
    border: 1px solid #555555;
    border-radius: 8px;

    line-height: 1.7;
    font-size: 14px;
}

/* スマホ */

@media (max-width: 480px) {

    .container {
        padding: 15px 15px 40px;
    }

    .machine-title h1 {
        font-size: 28px;
    }

    .logo-name {
        font-size: 26px;
    }
}

/* メニューボタン */

.menu-button {
    position: fixed;
    top: 15px;
    right: 15px;
    width: 48px;
    height: 48px;

    border: none;
    border-radius: 12px;

    background-color: #E52B18;
    color: #ffffff;

    font-size: 25px;

    z-index: 1000;
}


/* サイドメニュー */

.side-menu {
    position: fixed;
    top: 0;
    right: -280px;
    width: 280px;
    height: 100vh;

    background-color: #111111;

    padding: 15px 20px 20px;

    z-index: 999;
    transition: right 0.3s ease;

    display: flex;
    flex-direction: column;
}



/* メニューが開いた状態 */

.side-menu.open {
    right: 0;
}


/* 閉じるボタン */

.close-button {
    position: absolute;

    top: 15px;
    
    border: none;
    background: none;

    color: #ffffff;

    font-size: 35px;
}


/* メニュータイトル */
.side-menu h2 {
    color: #796f6e;
    font-size: 20px;
    margin-left: 55px;
    
}

.side-menu h3 {
    color: #E52B18;
    font-size: 20px;
    margin-bottom: 25px;
    height: 27px;
}


/* マシンボタン */

.machine-button {
    width: 100%;

    padding: 16px;
    margin-bottom: 12px;

    border: 1px solid #333333;
    border-radius: 10px;

    background-color: #000000;
    color: #ffffff;

    text-align: left;
    font-size: 16px;
}

/* メニューが開いたら☰を隠す */

.side-menu.open ~ .menu-button {
    display: none;
}

.machine-button {
    display: block;
    text-decoration: none;
}

/* =========================
   部位ごとの種目一覧
========================= */

.exercise-list {
    width: 100%;
    max-width: 500px;
    margin: 30px auto 0;
    padding: 24px 20px;

    background-color: #111111;
    border: 1px solid #333333;
    border-radius: 18px;
}

.exercise-list h2 {
    margin: 0 0 10px;
    font-size: 22px;
    text-align: center;
}

#exercise-items {
    margin-top: 20px;
}


/* 種目ボタン */

.exercise-item {
    display: block;
    width: 100%;
    padding: 16px;
    margin-bottom: 12px;

    background-color: #000000;
    border: 1px solid #333333;
    border-radius: 12px;

    color: #ffffff;
    font-size: 16px;
    text-align: left;

    cursor: pointer;
    transition: 0.2s;
}

.exercise-item:hover {
    border-color: #e52b18;
}

.exercise-item:active {
    transform: scale(0.98);
}

/* =========================
   ホーム画面
========================= */

.home {
    width: 100%;
    max-width: 600px;
    margin: 0 auto;
    padding: 20px 20px 20px;
    height: auto;
    overflow-y: auto;
    scrollbar-width: none;
}

.home h1 {
    margin: 0;
    color: #ffffff;
    font-size: 32px;
    font-weight: 900;
    letter-spacing: 2px;
    text-align: center;
}

.home-description {
    margin-top: 15px;
    color: #cccccc;
    font-size: 16px;
    line-height: 1.8;
    text-align: center;
}


/* 体の部位から探す */

.body-search {
    margin-top: 40px;
    padding: 25px 18px;
    background-color: #111111;
    border: 1px solid #333333;
    border-radius: 18px;
}

.body-search h2 {
    margin: 0;
    color: #ffffff;
    font-size: 24px;
}

.body-search p {
    color: #aaaaaa;
    font-size: 14px;
    line-height: 1.6;
}


/* 体の模型を入れる場所 */

.body-model {
    width: 100%;
    height: 100%;
    margin-top: 25px;

    display: flex;
    justify-content: center;
    align-items: center;

    background-color: #080808;
    border: 1px solid #333333;
    border-radius: 15px;

    color: #777777;
    font-size: 16px;
}
.body-model img {
    width: 100%;
    max-width: 500px;
    height: auto;
    display: block;
    margin: 0 auto;
}

@media (max-width: 480px) {

    .home {
        padding: 75px 15px 30px;
    }

    .home h1 {
        font-size: 27px;
    }

    .home-description {
        font-size: 14px;
    }

    .body-search {
        margin-top: 30px;
        padding: 20px 12px;
    }

    .body-search h2 {
        font-size: 21px;
    }

    .body-model {
        min-height: 350px;
    }
}
/* =========================
   サイドバー検索
========================= */

.sidebar-search {
    display: flex;
    gap: 8px;
    margin-bottom: 20px;
    padding-top: 15px;
    border-top: 1px solid #333333;
}

.sidebar-search input {
    flex: 1;
    min-width: 0;
    padding: 12px;
    border: 1px solid #444444;
    border-radius: 10px;
    background-color: #000000;
    color: #ffffff;
    font-size: 14px;
}

.sidebar-search input::placeholder {
    color: #777777;
}

.sidebar-search button {
    width: 45px;
    border: none;
    border-radius: 10px;
    background-color: #E52B18;
    color: #ffffff;
    cursor: pointer;

}

.sidebar-search button span {
    font-size: 22px;
    margin-top: 6px;
}
.machine-list {
    flex: 1;
    overflow-y: auto;
    scrollbar-width: none;
}

.sidebar-search {
    flex-shrink: 0;
}

/* =========================
   体の部位一覧
========================= */

.body-parts {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.body-part {
    display: flex;
    align-items: center;

    min-height: 42px;
    padding: 0 12px;

    background-color: #080808;
    border: 1px solid #333333;
    border-radius: 10px;

    color: #ffffff;
}

.number {
    width: 25px;
    height: 25px;

    display: flex;
    align-items: center;
    justify-content: center;

    border: 2px solid #E52B18;
    border-radius: 50%;

    color: #ffffff;
    font-size: 12px;
    font-weight: bold;

    flex-shrink: 0;
}

.part-name {
    margin-left: 10px;
    font-size: 12px;
}

.arrow {
    margin-left: auto;

    color: #777777;
    font-size: 24px;
    line-height: 1;
}

.body-content {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.body-model {
    width: 100%;
    margin-top: 0;
}

.body-parts {
    width: 100%;
    margin-top: 0;

    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 4px;
}

.home-button {
    display: flex;
    align-items: center;
    gap: 10px;
    height: 47px;
    width: 80%;
    padding: 14px 16px;
    margin-bottom: 20px;

    background-color: #E52B18;
    border-radius: 10px;

    color: #ffffff;
    text-decoration: none;
    font-size: 16px;
    font-weight: bold;
}



/* =========================
   部位カードの展開
========================= */


/* =========================
   部位を開いたときの種目
========================= */

.body-part {
    position: relative;
    align-self: start;
    z-index: 1;
    
}

.body-part.open {
    z-index: 10;
}

.exercise-items {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    padding: 8px;
    background-color: #080808;
    border: 1px solid #333333;
    border-radius: 0 0 10px 10px;
}

.body-part.open .exercise-items {
    display: block;
}

.exercise-items a {
    display: block;
    padding: 10px;
    background-color: #111111;
    border-radius: 8px;
    color: #ffffff;
    text-decoration: none;
    font-size: 10px;
}
#search-results {
    padding: 10px 0;
}

.search-result-item {
    display: block;
    padding: 12px;
    margin-bottom: 6px;
    background-color: #000000;
    border: 1px solid #333333;
    border-radius: 8px;

    color: #ffffff !important;
    text-decoration: none;

    font-size: 14px;
}
.search-result-item:hover {
    border-color: #E52B18;
}

